# Quartus / LiteX Build Files
build/
*.csv
*.json
# Python / HLS
__pycache__/
*.pyc
myproject-fpga.prj/quartus
myproject-fpga.prj/verification
myproject-fpga.prj/reports

# Firmware Binaries
*.elf
*.bin
*.o

# Testbench
*.cpp

*.log
*.txt